/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 /* Bootstrap用 */
@import "bootstrap";

/* product_new*/
.main {
	background-color: silver;
	width: 100%;
	height: 1400px;
	margin: 0 auto;
}
.main-contain {
	background-color: white;
	width: 800px;
	margin: 0 auto;
	padding: 100px;
}
.product_new_head {
	font-family: 'arial unicode ms';
	padding-left: 100px;
}

// フォームの位置を揃える
.form_label {
	width: 150px;
	display: inline-block;
	text-align: right;
}
.short { width: 8em; }
.long { width:20em; }

// ログイン
.login-contain-wrapper {
	padding-top: 50px;
}
.login_title {
	background-color: #578;
	color: #fff;
	margin: 0 auto;
	width: 500px;
	padding: 10px 0;
	text-align: center;
	font-family: 'arial unicode ms';
}
.login-contain {
	background-color: white;
	width: 500px;
	margin: 0 auto;
	padding: 30px;
}
.login-contain h4 {
	padding-bottom: 30px;
	text-align: center;
}
.login-contain-form {
	display: block;
	padding-left: 50px;
}

